/* Global */

html {
  height: 100%;
  background-color: #e3f2fd;
}

body {
  font-family: 'Montserrat', sans-serif;
}

/* Main navbar */

nav .brand-logo {
  color: #e3f2fd;
  font-size: 2.5rem;
  letter-spacing: 0.5rem;
  margin-left: 25px;
}

@media only screen and (max-width: 992px) {
  nav .brand-logo {
    left: 0 !important;
    -webkit-transform: translateX(0) !important;
    transform: translateX(0) !important;
  }
}

@media only screen and (max-width: 600px) {
  nav .brand-logo {
    font-size: 1.5rem;
  }
}

nav .fa-bars {
  color: #e3f2fd;
  margin-right: 25px;
}

.nav-main {
  height: 120px;
  line-height: 120px;
}

#dropdown1 {
  top: -60px;
}

/* Submenu */

.submenu-item {
  font-size: 1.5rem;
  letter-spacing: 0.5rem;
  color: #e3f2fd;
}

.submenu-item:hover {
  font-weight: 700;
}

/* Filter sidebars */

.filterRow {
  display: flex;
  min-height: calc(100vh - 186px)
}

.sideFilter {
  padding-left: 10px;
}

.filter .switch label, .sideFilter .switch label {
  font-size: 1rem;
  color: #0d47a1;
}

.filter label, .sideFilter label {
  margin-right: 20px;
}

.filter h3, .sideFilter h3 {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.5rem;
  color: #0d47a1;
}

.filter h5, .sideFilter h5 {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.25rem;
  color: #0d47a1;
}

.filter p label,, .sideFilter p label {
  font-size: 1.5rem;
  color: #0d47a1;
  margin-right: 16px;
}

.btnFilter {
  transform: translate(-75px,-25px);
}

/* Main Section - Base HTML */

.section_main {
  margin: 0px;
  background-color: #e3f2fd;
}


/* <----- SNACKBAR / FLASH MESSAGE TOAST -----> */
/* Inspired and adapted from:- https://www.w3schools.com/howto/howto_js_snackbar.asp */

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  display: block;
  /* visibility: hidden; Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  opacity: 0.5;
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 5px; /* Rounded borders */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  top: 30px; /* 30px from the top */
  letter-spacing: 0.25rem;
  line-height: 60px;
  height: 60px;
  line-height: 60px;
  height: 60px;
  padding: 0px 16px;
}

#snackbar i {
  position: relative;
  font-size: 30px;
  top: 10px;
  color: #fff;
  cursor: pointer;
}



/* <----- LOGIN / REGISTRATION PAGE -----> */

.containerLogin {
  margin-top: 25px;
}

.containerLogin h3 {
  color: #0d47a1;
  font-size: 2rem;
  letter-spacing: 0.25rem;
  font-weight: 700;
}

#password1,
#password2 {
  margin-bottom: 0px;
}

.passwordMatch {
  font-size: 0.6rem;
}

/* <----- DASHBOARD -----> */

#tableDashboard {
  width: 60%;
  margin-top: 30px;
  margin-left: 50%;
  transform: translate(-50%, 0);
  border-collapse: separate !important;
}

#tableDashboard tbody tr {
  background-color: #c4c4c4;
}

#tableDashboard th,
#tableDashboard td {
  border: 2px solid #e3f2fd;
}

.blankCell {
  background-color: #e3f2fd;
}

#blankRow td{
  padding: 5px;
}

.highlightCell {
  background-color: #555a61;
  color: #e3f2fd;
  padding-left: 10px;
  font-weight: 700;
}

.highlightCellReject {
  padding-left: 10px;
  font-weight: 700;
}

#rejectedRow td {
  color: #53667F;
}


/* <----- REGISTER -----> */

/* Table setup */


#tableRegister {
  width: 95%;
  margin-top: 15px;
  margin-left: 50%;
  transform: translate(-50%, 0);
}

th {
  background-color: #0d47a1;
  color: #e3f2fd;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.15rem;
}

td {
  color: #0d47a1;
  font-size: 1rem;
  letter-spacing: 0.1rem;
}

.width_s {
  width: 75px;
}

.width_m {
  width: 125px;
}

.width_l {
  width: 200px;
}

@media only screen and (max-width: 600px) {
  .width_l {
    width: 125px;
  }
  .hideSmall {
    display: none;
  }
}

th .center {
  align-content: center;
}

#tableRegister th {
  border: 2px solid #e3f2fd;
}

.hideRowStatus {
  display: none;
}

.hideRowType {
  display: none;
}

/* Nett/Gross filter */
.hideCost {
  display: none;
}

/* Period filter */
.hideNewRow {
  display: none;
}

.hideChangedRow {
  display: none;
}

/* Hide columns - for filtering only */
.dateHidden {
  display: none;
}

/* Make row a link */
.hideLink {
  display: none;
}

tr:hover {
  cursor: pointer;
}

.showAll {
  margin-top: 18px !important;
}

.showAll>a {
  padding: 5px;
}

.showAll>a:hover {
  border-radius: 3px;
  background-color: #bbdefb;
}

#backToPages {
  display: none;
  transform: translate(0, -30px);
}


/* <----- Item Layout -----> */

.itemContainer {
  margin-top: 50px !important;
  margin-bottom: 50px !important;
  /* height: 100%; */
}

.itemContainer h3 {
  color: #0d47a1;
  font-size: 2.5rem;
  letter-spacing: 0.5rem;
}

.itemHeading {
  margin-left: 0.75rem;
}

.btnEdit {
  position: relative;
  /* margin-bottom: 50%; */
  transform: translate(0, 50%);
}

.btnDelete {
  position: absolute;
  color: #e3f2fd;
  transform: translate(0, 30px);
}

.btnHide {
  display: none;
}

.btnDelRow {
  transform: translate(0,-50px);
}

.addBtn {
  transform: translate(0,-25px);
}

.itemContainer .btn-floating {
  margin: 0px 10px 15px 10px;
}

.hideInput {
  display: none;
}

#date_added_display,
#date_changed_display {
  cursor: not-allowed;
}