{% extends "base.html" %}
{% block content %}
{% if session.user %}

<table class="" id="tableDashboard">
  <thead>
    <tr>
      <th class="blankCell"></th>
      <th class="width_m center">£ Total</th>
      <th class="width_s center">£/ft2</th>
      <th class="width_m center hideSmall">+/-<br>Area ft2</th>
      <th class="width_m center hideSmall">Total<br>Area ft2</th>
    </tr>
  </thead>

  <tbody>
    <tr id="blankRow">
      <td class="blankCell"></td>
    </tr>
    <tr id="budgetRow">
      <td class="highlightCell">Approved Budget</td>
      <td class="center total"></td>
      <td class="center rate"></td>
      <td class="center areaChange hideSmall"></td>
      <td class="center areaTotal hideSmall"></td>
    </tr>
    <tr id="blankRow">
      <td class="blankCell"></td>
    </tr>
    <tr id="approvedRow">
      <td class="highlightCell">Approved</td>
      <td class="center total"></td>
      <td class="center rate"></td>
      <td class="center areaChange hideSmall"></td>
      <td class="center areaTotal hideSmall"></td>
    </tr>
    <tr id="pendingRow">
      <td class="highlightCell">Pending</td>
      <td class="center total"></td>
      <td class="center rate"></td>
      <td class="center areaChange hideSmall"></td>
      <td class="center areaTotal hideSmall"></td>
    </tr>
    <tr id="wipRow">
      <td class="highlightCell">Work in Progress</td>
      <td class="center total"></td>
      <td class="center rate"></td>
      <td class="center areaChange hideSmall"></td>
      <td class="center areaTotal hideSmall"></td>
    </tr>
    <tr id="blankRow">
      <td class="blankCell"></td>
    </tr>
    <tr id="revisedRow">
      <td class="highlightCell">Revised Estimate</td>
      <td class="center total"></td>
      <td class="center rate"></td>
      <td class="center areaChange hideSmall"></td>
      <td class="center areaTotal hideSmall"></td>
    </tr>
    <tr id="blankRow">
      <td class="blankCell"></td>
    </tr>
    <tr id="rejectedRow">
      <td class="highlightCellReject">Rejected</td>
      <td class="center total"></td>
      <td class="center rate"></td>
      <td class="center areaChange hideSmall"></td>
      <td class="center areaTotal hideSmall"></td>
    </tr>
  </tbody>
</table>

{% endif %}
{% endblock %}



{% block scripts %}

{% endblock %}