{% extends "base.html" %}
{% block content %}
{% if session.user %}

<!-- Use of Materialize Forms -->
<!-- top row -->
<div class="container itemContainer">
  <div class="row">
    <form class="col s12" method="POST" action="{{ url_for('edit_change', change_id=change._id) }}">
      <div class="row">
        <div class="col s9">
          <div class="row">
            <div class="input-field col s2">
              <input value="{{ change.change_nr }}" class="enableEdit" id="change_nr" name="change_nr" type="number"
                class="validate" minlength="1" maxlength="3" disabled>
              <label for="change_nr">Change Nr</label>
            </div>
            <div class="input-field col s4 offset-s1">
              <input value="{{ change.date_added }}" id="date_added" name="date_added" type="date" class="validate"
                disabled>
              <label for="date_added">Date Added</label>
            </div>
            <div class="input-field col s4 offset-s1">
              <input value="{{ change.date_changed }}" id="date_changed" name="date_changed" type="date"
                class="validate enableEdit enableReadOnly" tabindex="-1" disabled>
              <label for="date_changed">Last Change</label>
            </div>
          </div>
        </div>
        <div class="col s3">
          <div class="row">
            <div class="col s10 right-align">
              <a class="waves-effect waves-light blue btn-small btnEdit">Edit</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <!-- column 1 data -->
        <div class="col s6">
          <div class="row">
            <div class="itemHeading">Change Details</div>
            <div class="input-field col s12">
              <input value="{{ change.change_name }}" id="change_name" name="change_name" type="text"
                class="validate enableEdit" minlength="1" maxlength="30" disabled>
              <label for="change_name">Change Name</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <textarea id="change_description" name="change_description" class="materialize-textarea enableEdit"
                minlength="1" maxlength="250" disabled>{{ change.change_description }}</textarea>
              <label for="change_description">Description of Change</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <select id="status" name="status" class="validate enableEdit" required disabled>
                {% for state in status %}
                {% if state.status_abbr == change.status %}
                <option value="{{ state.status_abbr }}" selected>{{ state.status_name }}</option>
                {% else %}
                <option value="{{ state.status_abbr }}">{{ state.status_name }}</option>
                {% endif %}
                {% endfor %}
              </select>
              <label for="status">Status</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <select id="change_type" name="change_type" class="validate enableEdit" required disabled>
                {% for change in change_type %}
                {% if change.change_type_abbr == change.change_type %}
                <option value="{{ change.change_type_abbr }}" selected>{{ change.change_type_name }}</option>
                {% else %}
                <option value="{{ change.change_type_abbr }}">{{ change.change_type_name }}</option>
                {% endif %}
                {% endfor %}
              </select>
              <label for="change_type">Change Type</label>
            </div>
          </div>

        </div>
        <!-- column 2 data -->
        <div class="col s6">
          <div class="row">
            <div class="itemHeading">Total Costs</div>
            <div class="input-field col s6">
              <input value="{{ change.cost_nett }}" class="enableEdit" id="cost_nett" name="cost_nett" type="number"
                class="validate" onchange="updateTotal()" disabled>
              <label for="cost_nett">Nett Cost</label>
            </div>
            <div class="input-field col s6">
              <input disabled placeholder="-" value="" id="cost_gross_show" name="cost_gross_show" type="number"
                class="validate">
              <label for="cost_gross" disabled>Gross Cost</label>
            </div>
            <!-- Hidden cost_gross so that retrieved values will be sent to with POST -->
            <div class="input-field col s6 hideInput">
              <input value="{{ change.cost_gross }}" id="cost_gross" name="cost_gross" type="number" class="validate">
              <label for="cost_gross">Hidden Gross Cost</label>
            </div>
          </div>
          <div class="row">
            <div class="itemHeading">Contingency</div>
            <div class="input-field col s6">
              <input value="{{ change.cont_design_total }}" class="enableEdit" id="cont_design_total"
                name="cont_design_total" type="number" class="validate" onchange="updateTotal()" disabled>
              <label for="cont_design_total">Design</label>
            </div>
            <div class="input-field col s6">
              <input value="{{ change.cont_const_total }}" class="enableEdit" id="cont_const_total"
                name="cont_const_total" type="number" class="validate" onchange="updateTotal()" disabled>
              <label for="cont_const_total">Construction</label>
            </div>
          </div>
          <div class="row">
            <div class="itemHeading">Main Contractor On-Costs</div>
            <div class="input-field col s6">
              <input value="{{ change.prelims_total }}" class="enableEdit" id="prelims_total" name="prelims_total"
                type="number" class="validate" onchange="updateTotal()" disabled>
              <label for="prelims_total">Preliminaries</label>
            </div>
            <div class="input-field col s6">
              <input value="{{ change.ohp_total }}" class="enableEdit" id="ohp_total" name="ohp_total" type="number"
                class="validate" onchange="updateTotal()" disabled>
              <label for="ohp_total">OH&P</label>
            </div>
          </div>
          <div class="row">
            <div class="itemHeading">Areas</div>
            <div class="input-field col s6">
              <input value="{{ change.NIA_ft2 }}" class="enableEdit" id="NIA_ft2" name="NIA_ft2" type="number"
                class="validate" disabled>
              <label for="NIA_ft2">NIA</label>
            </div>
            <div class="input-field col s6">
              <input value="{{ change.GIA_ft2 }}" class="enableEdit" id="GIA_ft2" name="GIA_ft2" type="number"
                class="validate" disabled>
              <label for="GIA_ft2">GIA</label>
            </div>
          </div>
          <div class="row">
            <div class="fixed-action-btn">
              <div class="col s12 right-align">
                <button type="submit" class="btn-floating btn-large waves-effect waves-light blue btnHide">
                  <i class="fas fa-check"></i>
                </button>
                <button type="button" onclick="window.location.href='{{ url_for('register') }}';"
                  class="btn-floating btn-large waves-effect waves-light blue">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row btnDelRow">
        <div class="col s12">
          <a href="{{ url_for('delete_change', change_id=change._id) }}"
            class="waves-effect waves-light blue lighten-4 btn-flat btnDelete">Delete</a>
        </div>
      </div>
    </form>
  </div>
</div>
</div>

{% endif %}
{% endblock %}



{% block scripts %}

{% endblock %}