{% extends "base.html" %}
{% block content %}
{% if session.user %}

<div class="row">
  <div class="col s12">
    <table class="highlight" id="tableRegister">
      <thead>
        <tr>
          <th class="width_s center">Nr</th>
          <th>Change</th>
          <th class="width_l center costNett">Nett<br>£ Total</th>
          <th class="width_l center costGross hideCost">Gross<br>£ Total</th>
          <th class="width_m center giaNett hideSmall">Nett<br>£/ft2</th>
          <th class="width_m center giaGross hideCost hideSmall">Gross<br>£/ft2</th>
          <th class="width_m center hideSmall">+/-<br>Area ft2</th>
          <th class="width_s center hideSmall">Change<br>Type</th>
          <th class="width_s center hideSmall">Status</th>
          <th class="dateHidden">Date<br>Added</th>
          <th class="dateHidden">New?</th>
          <th class="dateHidden">Date<br>Changed</th>
          <th class="dateHidden">changed?</th>
          <th class="center hideLink">Link</th>
        </tr>
      </thead>

      <tbody>
        {% for change in register %}
        <tr class="rowOff">
          <td class="center changeNr">{{ change.change_nr }}</td>
          <td class="changeName">{{ change.change_name }}</td>
          <td class="center costNett">{{ "{:,}".format(change.cost_nett) }}</td>
          <td class="center costGross hideCost">{{ "{:,}".format(change.cost_gross) }}</td>
          <td class="center giaNett hideSmall">
            {% if change.GIA_ft2|int > 0 %}
              {{ "{:,}".format(change.cost_nett|int // change.GIA_ft2) }}
            {% endif %}
          </td>
          <td class="center giaGross hideCost hideSmall">
            {% if change.GIA_ft2|int > 0 %}
              {{ "{:,}".format(change.cost_gross|int // change.GIA_ft2) }}
            {% endif %}
          </td>
          <td class="center GIA hideSmall">{{ "{:,}".format(change.GIA_ft2) }}</td>
          <td class="center changeType hideSmall">{{ change.change_type }}</td>
          <td class="center changeStatus hideSmall">{{ change.status }}</td>
          <td class="dateAdded dateHidden">{{ change.date_added }}</td>
          <td class="periodN dateHidden"></td>
          <td class="dateChanged dateHidden">{{ change.date_changed }}</td>
          <td class="periodC dateHidden"></td>
          <td class="center hideLink">
            <a href="{{ url_for('edit_change', change_id=change._id) }}">Link</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>
</div>

<div class="row">
  <div class="fixed-action-btn addBtn">
    <div class="col s12 right-align">
      <a href="{{ url_for('add_change') }}" class="btn-floating btn-large waves-effect waves-light blue btn-add-change"><i class="fas fa-plus"></i></a>
    </div>
  </div>
</div>

<div id="pages" class="row">
  <div class="col s2 center-align showAll">
    <a href="{{ url_for('register', page_size=1, page_num=0)}}">Show all</a>
  </div>
  <div class="col s8 center-align">
    <ul class="pagination">
      <li class="disabled"><a href=""><i class="material-icons">chevron_left</i></a></li>
      {% for i in range(records) %}
        <li class="waves-effect"><a href="{{ url_for('register', page_size=i+1, page_num=10)}}">{{ i+1 }}</a></li>
      {% endfor %}
      <li class="waves-effect"><a href=""><i class="material-icons">chevron_right</i></a></li>
    </ul>
  </div>
</div>

<div id="backToPages" class="row">
  <div class="col s2 center-align showAll">
    <a href="{{ url_for('register', page_size=1, page_num=10)}}">Show Pages</a>
  </div>
</div>

{% endif %}
{% endblock %}



{% block scripts %}


{% endblock %}