<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contrarotolum</title>
</head>
<body>
  {% for change in register %}
    {{ change.nr }}<br>
    {{ change.date_added }}<br>
    {{ change.date_changed }}<br>
    {{ change.change_name }}<br>
    {{ change.change_description }}<br>
    {{ change.cost_nett }}<br>
    {{ change.contingency_design }}<br>
    {{ change.contingency_construction }}<br>
    {{ change.preliminates }}<br>
    {{ change.ohp }}<br>
    {{ change.fees }}<br>
    {{ change.cost_gross }}<br>
  {% endfor %}
</body>
</html>